/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

html, body {
    scroll-behavior: smooth;
}

/* BASE SECTION */
.section {
    min-height: 100vh;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* WARNA PER SECTION (biar kelihatan jelas dulu) */
.cover {
    background: #1abc9c;
    color: white;
}

.opening {
    background: #3498db;
    color: white;
}

.couple {
    background: #9b59b6;
    color: white;
}

.event {
    background: #e67e22;
    color: white;
}

.gallery {
    background: #e74c3c;
    color: white;
}

.rsvp {
    background: #2ecc71;
    color: white;
}

.footer {
    background: #34495e;
    color: white;
}

/* TYPO */
h1 {
    font-size: 2rem;
}

h2 {
    margin-bottom: 10px;
}

/* LOADING SCREEN/
/* COVER OVERLAY */
#cover {
    position: fixed;
    inset: 0;
    z-index: 9999;

    background: #111;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px;
}

.cover-content h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.cover-content h2 {
    margin: 10px 0 20px;
    font-size: 1.4rem;
}

.cover-content button {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    background: white;
    color: black;
    border-radius: 6px;
}

/* ANIMASI HILANG */
#cover.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
}

/* RESPONSIVE (tablet ke atas) */
@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}